body {
    font-size: 20px;
    background-color: white;
}

.container {
    margin: 1rem;
    display: flex;
    justify-content: center;    
}

.t2 {
    font-size: 30px;
}

/* Second Method */
table {
    margin:1.5em auto;
    border-collapse: collapse;
    font-family: Calibri, sans-serif;
}
tr:first-child {
    border-top: solid medium;
}
.medium-row-line {
    border-bottom: solid medium;
}
td:first-child {
    border-left: solid medium;
}
.medium-column-line {
    border-right: solid medium;
}
td {
    border: solid thin;
    height:50px;
    width:50px;
    text-align: center;
    padding: 0;
}

td > input {
    border: 0;
    width:12px;
    font-size: 20px;
}

input.bold {
    font-weight: bold;
}

input[type="text"]:disabled {
    background: #FFFFFF;
}

button {
    padding: 0.5rem;
    font-size: 20px;
    min-width: 130px;
    margin: 1rem; 
}
    
.opacity-50 {
    opacity:0.5;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.blue { 
    background-color: cyan;
}

.yellow {
    background-color: yellow;
}

.white {
    background-color: antiquewhite;
}

.green {
    background-color: greenyellow;
}

.hidden {
    display: none;
}
